@media (min-width: 768px){
    .menu, .search{
        display: none;
    }

    ::ng-deep .p-drawer-right.p-drawer {
        width: 30rem !important;
    }
}

@media (max-width: 767px){
    .search-bar{
        display:none;
    }
}

.cart{
    font-size: 1.5rem;
    cursor: pointer;
}